<h3>Create Car</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="plateNumber">plateNumber</label>
      <input type="text" class="form-control" id="plateNumber" required [(ngModel)]="car.plateNumber" name="plateNumber">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Car submitted</h4>
  <button class="btn btn-success" (click)="newCar()">Add</button>
</div>