# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lasagne\OneDrive - Efrei\_Fundamentals of Information Systems\S7 - Information System Technologies and Cloud Computing\TP\TP3\tp2-istcc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
