# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lasagne\OneDrive - Efrei\_Fundamentals of Information Systems\S7 - Information System Technologies and Cloud Computing\TP\TP5 CarService combined\ISTCC-TP5-CarProject\car-activeMQ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
